<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Wordy Absurdity</title>
  <link rel="shortcut icon" href="/assets/img/favicon1.png" />
  <link rel="stylesheet" type="text/css" href="/assets/output.css" />
</head>

<body class="bg-cyan-300">

  <section id="app">

  </section>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/gameBundle.js"></script>
</body>

</html>